fastapi==0.141.1
lightning==2.6.5
pandas==3.0.5
Pillow==12.3.0
pydantic==2.13.4
python-dotenv==1.2.3
Requests==2.34.2
streamlit==1.60.0
torch==2.11.0+cu128
torchmetrics==1.9.0
torchvision==0.26.0+cu128
torchxrayvision==1.5.2
